.password-manager-top{
    text-align: right;
}
.checkbox{
    height: 15px;
    width: 15px;
    margin-right: 7px;
}
.showpassword-text{
    font-size: 14px;
    color: #ffffff;
    padding-bottom: 5px;
}
.no-passwords-container{
    text-align: center;
    width: 100%;
}
.no-passwords{
    height: 200px;
    width: 250px;
    margin: auto;
}
.no-passwords-heading{
    font-size: 22px;

}
@media screen and (min-width:768px) {
    .no-passwords-heading{
        font-size: 20px;
    }
    .password-manager{
        padding: 10px 20px 10px 20px;
    }
    
}

li{
    list-style: none;
    padding-inline-start: 0;
}
ul{
    padding-inline-start: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.list-item-container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 1px solid #b5b7c4;
    padding: 10px;
    min-width: 200px;
    margin: 20px;
    max-width: 400px;
}
.initial-logo-container{
    min-width: 12%;
    margin: auto;
    display: flex;
    align-items: center;
}
.initial-logo{
    background-color: #ffffff;
    margin: auto;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding-left: 6px;

}
.details{
   min-width: 65%;
   margin-left: 10px;
}

.hide{
    width: 100px;
}
.delelte-image-container{
    min-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.delete-btn{
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: transparent;
}
.delete{
    height: 25px;
    width: 25px;
}

@media screen and (min-width:768px) {
    
    .list-item-container{
        min-width: 200px;
        max-width: 250px;
    }
}