.user-card{
    width: 95%;
    background-color: #454f84;
    padding: 10px 12px 10px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.password-heading{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    margin-left: 10px;
}
.input-contanier{
    width: 93%;
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 10px;
}
.logo-contanier{
    width: 20%;
    height: 35px;
}
.input-field{
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-left: 1px solid #64748b;
    padding: 5px;  
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.logo{
    height: 28px;
    width: 28px;
    padding-top: 6px;
}
.btn-container{
width: 99%;
text-align: right;
}
.add-btn{
    color: #ffffff;
    height: 30px;
    width: 90px;
    border-radius: 8px;
    background-color: #0b69ff;
    border: transparent;
    
}

@media screen and (min-width:768px) {
    .user-card{
        width: 50%;
       
    }
    
}

@media screen and (min-width:1200px) {
    .input-field{
        width: 180%;
    }
    
}